*{ transition: all .7s ease-in-out}
* {box-sizing:border-box}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    font-family: asap, sans-serif;
}
.containernavbar{
  clear:both;
  overflow: hidden;
  background-color: #6E97A4;
  position: fixed;
  top: 0;
  width: 100%;  
}

.a:link {
  text-decoration: none;
  color: #E4F2FF;
}

.a:visited {
  text-decoration: none;
  color: white;
}

.a:hover {
  text-decoration: underline;
  color: white;
  background-color: grey;
    padding: 8px;
    z-index: 99;
}

.a:active {
  text-decoration: underline;
  color: white;
}
    
#menu {
    margin: 0.5% 5%;
    font-family: asap,sans-serif;
    font-size: 26px;
}

#homeknop{
    margin-left: clear;
}

nav{
    text-align: center;
 
}

.logo img{
    float:left;
    width: 15%;
    padding: 0.5%;
    margin: 0.5%;
    margin-left: 2%;
}

ul li{
  display: inline-block; 
  font-size: 80%; 
    font-family: asap, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-decoration: none;
    margin: 1%;
    color: white;
    margin-right: 6%;
}

.active {
    background-color:grey;
    text-decoration: underline;
    padding:8px;
}

.tableheadempty{
    color: white;
}

.tablehead{
    text-align: center;
}

.productentabel{
    margin-top: 200px;
    margin-left: 320px;
    margin-right: 320px;
}

#productimg{
    width: 300px;
    margin: 20px;
}

.naambankzwart, .naambankwit, .naamproduct{
    padding-left:20px;
}

.productentabel2{
    margin: 80px 320px;
}

.beschrijving{
    color: #333333;
    opacity: 0.5;
    padding-right: 2px;
    
}

.prijs{
    padding-left: 5px;
}

.kopen{
    background-color:#6E97A4;
}

.kopen:active{
    text-decoration: none;
}

.kopen:checked{
    text-decoration: none;
}

.kopen:hover{
    text-decoration: none;
}

.kopen:visited{
    text-decoration: none;
}